<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @table2.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @table2.code %>
</p>

<%= link_to 'Edit', edit_table2_path(@table2) %> |
<%= link_to 'Back', table2s_path %>
